/* Common Utilites */

*, *:before, *:after {
  box-sizing: border-box;
}

html, body{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  font-size:14pt;
  font-family: 'Work Sans', sans-serif;
  background-color:yellow;
}
a {cursor: pointer;}

.scene
{
  height:100%;
  background-color:orange;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  padding:0;
  padding-top:3em;
}
.overlay
{
  height:100%;
  background-color:rgba(25,25,25,0.6);
  padding:32px;
}
h1
{
  font-family: 'Eczar', serif;
  margin:0px;
  padding:0px;
}
.clearfix:after
{
  display:table;
  content:"";
  clear:both;
}

@media only screen and (max-width: 1024px) {
  .scene{
    background-attachment: scroll;
  }
}

/* Specific Scene Backgrounds */
#welcomeScene{
  padding:0;
  padding-bottom:3em;
  background-image:url(../images/bg4-min.jpg);
}

#philosophyScene{
  background: -webkit-linear-gradient(26deg, rgb(204, 57, 123), rgb(246, 129, 1));
  background: linear-gradient(26deg, rgb(204, 57, 123), rgb(246, 129, 1));
  background-attachment: fixed;
  height:450%;
}
#teamScene{
  padding-top:0;
  background-image: url("../images/bg1-min.jpg");
  color:#fff;
  height:200vh;
}
#teamScene .overlay
{
  padding-top:3em;
  text-align: center;
  height: 150vh;
}
#processScene
{
  background-color:#fff;
  text-align: center;
}
#portfolioScene
{
  background-color:#fff;
  text-align:center;
  height:auto;
  padding-bottom:16px;
}
#footerScene
{
  background-color:#252525;
  height:auto;
  padding-left:32px;
  padding-right:32px;
  padding-bottom:16px;
}


/* Menu Classes */
#header_name
{
  height:2em;
  width:auto;
  fill:#ffffff;
}
#header_name:hover
{
  fill:#55fb2f;
}

.menu
{
  z-index:10;
  width:100%;
  position:fixed;
  left:0;
  height:3em;
  padding-left:32px;
  padding-top:0.5em;
  padding-bottom:0.5em;

  -webkit-transition: background 1.5s; /* Safari */
  transition: background 1.5s;

}
.menu_bottom
{
  bottom:0;
  text-align:center;
  background-color:#252525;
}
.menu_top
{
  top:0;
  text-align:left;
  background-color:transparent;
}
.menu_white
{
  color:#fff;
}
.menu_black
{
  color:#252525;
  background-color:#fff;
}
@media only screen and (max-width: 450px) {
  .menu
  {
    width:100%;
    position:fixed;
    left:0;
    height:3em;
    padding-left:32px;
    padding-top:0.75em;
    padding-bottom:0.75em;
    -webkit-transition: background 1.5s; /* Safari */
    transition: background 1.5s;
  }
  #header_name
  {
    height:1.5em;
    width:auto;
    fill:#ffffff;
  }
}

.hamburger{
  background:none;
  position:absolute;
  color:inherit;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  color:inherit;
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu_list 
{
  z-index:1000000; 
  font-weight:bold; 
  font-size:0.8em; 
  width:50%; 
  background:#f1f1f1;  
  position:fixed; 
  text-align:center; 
  font-size:12px;
}
.menu_bottom .menu_list
{
  bottom:5em;
  right:0;
}
.menu_top .menu_list
{
  top:5em;
  right:0;
}
.menu_list ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}
.menu_list li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu_list li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu_list ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu_list ul li a:hover {  color: #666; text-decoration:none;}
.menu_list a{text-decoration:none; color:#666;}
.menu_list a:hover{text-decoration:none; color:#666;}

/* Welcome Scene Classes */
a.heroLink
{
  font-family: 'Eczar', serif;
  margin:0;
  margin-top:32px;
  padding:0;
  color:#fff;
  text-decoration: none;
  font-size:22vmin;
  line-height:1em;

  vertical-align: top;
  display:block;
  float:left;
  clear:both;
}
a.heroLink:first-child
{
  margin:0;
  margin-top:0;
}

a.heroLink:hover
{
  text-decoration:none;
  color:rgb(204, 57, 123);
}
span.linkExplainer
{
  margin:0;
  padding:0px;
  color:#fff;
  margin-top:-1.5em;
  display:none;
  float:left;
  clear:both;
}

a.heroLink:hover + span.linkExplainer
{
  display:block;
}

/* Philosophy Scene Classes */
.stamp_paths
{
  fill:inherit;
}
#svg_stamp
{
  height:100%;
  width:auto;
  fill:#fff;
}

.box_path
{
  stroke:#fff;
  fill:none;
}

.stampHolder
{
  display:none;
  position:fixed;
  height:70vmin;
}

.sceneText
{
  display:none;
  position:fixed;
  color:#fff;
  text-align: left;
}
.sceneText h1
{
  font-size:5vw;
  text-align:left;
}
.sceneText h2
{
  top:6vw;
  font-size:4vw;
  text-align:left;
  position:absolute;
  opacity:1.0;  
}
.sceneText h3
{
  top:6vw;
  font-size:4vw;
  text-align:left;
  position:absolute;
  margin-top:2.5em;
  opacity:0.0;

}
@media (min-width:470px) and (max-width: 870px) {
  .stampHolder
  {
    display:none;
    position:fixed;
    height:0px;
    width:0px;
  }
  .sceneText
  {
    display:none;
    position:fixed;
    color:#fff;
    text-align: center;
  }
  .sceneText h1
  {
    display:block;
    clear:both;
    font-size: 3em;
    text-align:center;
  }
  .sceneText h2
  {
    display:block;
    clear:both;
    font-size:2em;
    margin-top:1.5em;
    width:100%;
    text-align:center;
    opacity:1.0;
  }
  .sceneText h3
  {
    font-size:1.5em;
    margin-top:2em;
    text-align:center;
    display:block;
    width:100%;
    clear:both;
    opacity:0.0;
  }
}
@media only screen and (max-width: 869px) {
  .stampHolder
  {
    display:none;
    position:fixed;
    height:0px;
    width:0px;
  }
  .sceneText
  {
    display:none;
    position:fixed;
    color:#fff;
    text-align: center;
  }
  .sceneText h1
  {
    display:block;
    clear:both;
    font-size: 2em;
    text-align:center;
  }
  .sceneText h2
  {
    display:block;
    clear:both;
    font-size:1.5em;
    margin-top:1.5em;
    width:100%;
    text-align:center;
    opacity:1.0;
  }
  .sceneText h3
  {
    font-size:1em;
    margin-top:3em;
    text-align:center;
    display:block;
    width:100%;
    clear:both;
    opacity:0.0;
  }
}
/* Team Scene Classes */
.team-members
{
  text-align:center;
  padding-top:16px;
  padding-bottom: 16px;
  height:100%;
  text-align:center;
}
.teamer-spacer
{
  display:inline-block;
  max-width:50px;
  min-width:1%;
}
.teamer-group
{
  display:inline-block;
  text-align: center;
  margin-top:3em;
  cursor: pointer;
}
.teamer-group:first-child
{
  padding-right:25px;
}
.teamer-group:last-child
{
  margin-right:0px;
}
.teamer
{
  height:150px;
  width:150px;
  border-radius:75px;
}
.teamer-caption
{
  display:block;
  clear:both;
  font-size:0.8em;
}
.teamer-name
{
  /*font-weight: bold;*/
  margin-top:10px;
  font-size:1em;
}
#btnContact
{
  clear:both;
  margin-top:3em;
}
#btnContact button
{
  font-size:2em;
  border-radius: 5px;
  border:transparent;
  /*background-color: rgb(204, 57, 123);*/
  background-color:rgba(246, 129, 1,0.9);
  color:#fff;
}
#btnContact button:hover
{
  background-color:rgba(246, 129, 1,1);
}
#btnContact button:active
{
  background-color:rgba(226, 109, 1,1);
}

@media only screen and (max-width: 436px){
  .teamer
  {
    height:120px;
    width:120px;
    border-radius:60px;
  } 
}

/* Process Classes */

div#timeline
{
  height:2vw;
  width:82vw;
  background-color:#252525;
  overflow: visible;
  vertical-align: middle;
  padding:0;
  border-radius: 2.5vw;
  margin-left:8vw;
  clear:both;

}
div.circle
{
  float:left;
  padding:0;
  height:5vw;
  width:5vw;
  border-radius:2.5vw;
  border:1vw solid #252525;
  margin-top:-1.4vw;
  margin-left:4vw;
  margin-right:4vw;
  overflow:visible;
  text-align:center;
}
div.circle:first-child
{
  margin-left:0vw;
  margin-right:4vw;
}
div.circle:last-child
{
  margin-right:-4vw;
}
div.circle div.circleItem
{
  margin-top:6vw;
  text-align:center;
  width:9vw;
  margin-left: -3vw;
  font-size:0.8em;
}

.learnStop
{
  background-color:rgb(204, 57, 123);
}
.freestyleStop
{
  background-color:rgb(246, 129, 1);
}
.feedbackStop
{
  background-color:#88B04B;
}
p.processExplainer
{
  width:70%;
  text-align:left;
  margin-left:auto;
  margin-right:auto;
  font-size: 0.8em;
  text-align: justify;
}
.processPhases
{
  float:left;
  border-radius: 2px; 
  text-align:center;
  padding:0;
  padding-top:16px;
  padding-bottom:16px;
  border:0px transparent solid;
  margin-left:8vw;
  margin-top:2em;
  margin-bottom:5vh;
  color:#fff;
}
span.tabber{
  display:inline-block;
  padding-left:5px;
  padding-right:5px;
  color:#fff;
}
#learnPhase
{
  background-color:rgb(204, 57, 123);
  width:18vw;
}
#freestylePhase
{
  background-color:rgb(246, 129, 1);
  width:31vw;
}
#feedbackPhase
{
  background-color:#88B04B;
  width:18vw;
}
p.smallExplainer
{
  width:70%;
  text-align:left;
  margin-left:auto;
  margin-right:auto;
  font-size: 1em;
  display:none;
}
@media only screen and (max-width: 700px){
  p.processExplainer
  {
    display:none;
  }
  p.smallExplainer
  {
    display:block;
  }
  .processPhases
  {
    display:none;
  }
  .processMetroMap
  {
    clear:both;
    margin-top:4em;
  }
  div.circle div.circleItem
  {
    width:200px;
    transform: rotateZ(90deg) translateX(100px);
    margin-left:-6em;
    vertical-align: middle;
    text-align: left
  }

}

/* Portfolio Classes */

div.website
{
  width:20vw;
  float:left;
  margin-left:10vw;
  margin-top:5em;
  text-align:center;
}
img.website
{
  width:20vw;
}
div.website span
{
  display:block;
  clear:both;
}
.website-name
{
  font-size:1.2em;
  text-align:left;
  padding-bottom:0.5em;
}
@media only screen and (max-width: 1049px){
  div.firstchildy
  {
    margin-top:1em;
  }
  .website-name
  {
    text-align: center;
  }
  div.website
  {
    width:80vw;
  }
  img.website
  {
    width:100%;
  }
}


/* Footer Scene */
#footerScene div span
{
  display:block;
  clear:both;
  font-size:0.8em;
  color:#e7e7e9;
}
#footerScene .address
{
  float: left;
}
#footerScene .contact
{
  float:right;
}
.copyright
{
  clear:both;
  float:none;
  font-size:0.8em;
  color:#e7e7e9;
  padding-top:2em;
  text-align:center;
}

@media only screen and (max-width: 450px) {
  #footerScene .address
  {
    float: none;
    clear:both;
    text-align:center;
  }
  #footerScene .contact
  {
    float:none;
    clear:both;
    text-align:center;
    margin-top:1em;
  }
}
