#txtProjectTitle
{
  padding-left:0px;
  padding-top:0px;
  margin-left: 16px;
  margin-top:0.25em;
  font-family:"Quicksand";
  font-size:2em;
  text-align:left;
  font-weight:bold;
  vertical-align: top;
  border:none;
  width:auto;
}